* {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: 'Titillium Web', 'Helvetica', sans-serif;
}

html {
    height: 101%;
    /* Scroll-Balken rechts wird immer angezeit und verhindert ein Springen in den Fenstergrößen je nach Höhe des Textes.*/
}

body {
    
}

#wrapper {
    width: 960px;
    max-width: 90%;
    margin: 0 auto;    
}

.row-top {    
    height: 100px;
    width: 100%;   
    
    position: fixed;
    top: 0px;
    z-index: 10;
    
    background-color: rgba(250, 250, 250, 0.9);
    
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#logo {
    width: 80px;
    max-width: 90%;
    height: 80px;
    margin: 10pX;
    
    transition: ease-in-out all 400ms;
}

#logo:hover {
    transform: translate(0px, -10px);
}
#navi {
    width: 250px;
    max-width: 90%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    margin: 10px;
    height: 30px;
    text-decoration: none;
    color: darkblue;
    font-weight: 500;
}

a:hover {
    font-weight: 700;
}

.base {
    background-color: indianred;
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.row-middle {
    /*background-color: lightsteelblue;*/
    display: flex;
    flex-wrap: wrap;
}

.row-bottom {
    /*background-color: lightgrey;*/
    width: 100%;
    margin-top: 100px;
}


.item {
    background-color: springgreen;
    flex-basis: 250px;
    flex-grow: 1;
    height: 250px;
    margin: 10px;
    padding: 10px;
}

ul {
    padding: 5px;
    margin: 5px;
    list-style-type: square;
    list-style-position: inside;
}

.whitebox {
    display: flex;
    flex-wrap: wrap;
}

.item-white {
    background-color: white;
    flex-basis: 50px;
    flex-grow: 1;
    height: 50px;
}

.item-green {
    background-color: springgreen;
    flex-basis: 50px;
    flex-grow: 1;
    height: 50px;
}

.item-blue {
    background-color: cadetblue;
    flex-basis: 50px;
    flex-grow: 1;
    height: 50px;
}

img {
    width: 100%;
}

.akkordeon {
  width: 100%;
  padding: 5px;
  background: white;
    display: flex;
    flex-wrap: wrap;
}
 
.akkordeon > a {
  background: indianred;
  color: white;
  width: 100%;
  height: 30px;
  padding: 5px;
  text-decoration: none;
  line-height: 30px;
}
 
.akkordeon p {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
  padding: 5px;
  margin: 0 auto;
}

.akkordeon p:target {
  max-height: 7em;
  transition-delay: 0s;
}
